@import "/src/assets/sass/colors.scss";

/////////////////////
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    > img {
        width: 175px;
    }
    > p {
        font-weight: bold;
        word-spacing: 5px;
        color: $blanc;
    }
}