.container {
    margin: 30px auto;
    width: 50%;
    height: 350px;
    background-color: $secondaire;
    box-shadow: $tertiaire 4px 4px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: thick double $tertiaire;
    form {
        height: 60%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 20px;
        .form-group {
            margin: 10px 0px;
            display: flex;
            flex-direction: column;
            > input {
                padding-left: 10px;
                margin-top: 10px;
                border: none;
                box-shadow: $tertiaire 4px 4px 20px;
                border-radius: 20px;
                &:focus-visible {
                    outline: none;
                    padding-left: 10px;
                }
            }
        }
        .bouton {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            button {
                background-color: $tertiaire;
                color: $secondaire;
                padding: 10px;
                border-radius: 20px;
                box-shadow: $tertiaire 4px 4px 20px;
            }
        }
    }
}
